body {
	background-image: url("fondo.png");
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	font-family: sans-serif;
	overflow: hidden;
}

h1 {
	color: #fff;
	display: inline-block;
	width: 100%;
	text-align: center;

}

#reset{
	all: unset;
	margin: 0px 45%;
	text-align: center;
	width: 80px;
	height: 20px;
	font-size: 16px;
	background-color: transparent;
	color: #fff;
	font-weight: bold;
	border: 2px solid #fff8;
}

.container {
	width: 80%;
	
	margin: auto;
	height: 80vh;
	background-color: #0007;
	display: flex;
	flex-wrap: wrap;
}

.caja {
	border: 1px solid #000;
	width: calc(99% / 3);
	height: calc(99% / 3);
	margin: auto auto;
	background-color: #9997;
}

.X, .O {
	width: 90%;
	display: inline-block;
	font-size: 150px;
	text-align: center;
	padding: 0px 10px;
	margin: 0;
}

.mensaje{
	position: absolute;
	margin: auto;
	padding: 10%;
	left: 25%;
	top: 30%;
	background: rgb(12,0,209);
	background: linear-gradient(90deg, rgba(12,0,209,1) 0%, rgba(11,187,16,1) 45%, rgba(241,132,8,1) 91%);
	color: #fff;
	font-size: 35px;
	font-weight: bold;
	text-align: center;
}